Repository libraryofcode/dis.ts, pull requests merged in 2021-04, with the labels that each got.

#18 refactor(DiscordWebSocket): renamings and general improvements
  .npmignore
  rest/.npmignore
  ws/DiscordWebsocket.ts
  ws/WebSocketClient.ts
  ws/constants.ts
  ws/package.json
Labels: prio: medium, repo: gw, semver: feat, t: refactor

#23 feat(structures): Base interface
  src/structures/.gitkeep
  structures/Base.ts
Labels: prio: low, repo: structures, semver: feat, t: addition, t: documentation

#27 fix(structures): Missing and incorrect guild props
  structures/Guild.ts
Labels: repo: structures, semver: patch, t: addition, t: fix

#26 feat(structures): Channel interface
  structures/Channel.ts
Labels: prio: low, repo: structures, semver: feat, t: addition, t: documentation
